textbook-html/textbook-html/_book-base.rng

<grammar ns="http://www.w3.org/1999/xhtml"
         xmlns="http://relaxng.org/ns/structure/1.0">

<include href="./_content.rng"/>

<!-- <head itemscope="itemscope" itemtype="http://schema.org/Book"> -->
<define name="Structure.Book.Head.attlist">
  <attribute name="itemscope">
    <value>itemscope</value>
  </attribute>
  <attribute name="itemtype">
    <value>http://schema.org/Book</value>
  </attribute>
</define>

<!-- from xhtml/modules/struct.rng but changed to only include a subset of valid "root" elements -->
<define name="Structure.Book.Body">
  <element name="body">
    <!-- <body itemscope="itemscope" itemtype="http://schema.org/Book"> -->
    <attribute name="itemscope">
      <value>itemscope</value>
    </attribute>
    <attribute name="itemtype">
      <value>http://schema.org/Book</value>
    </attribute>
    <ref name="body.attlist"/>
    <!-- Actually, it's BookMetadata -->
    <ref name="Structure.Book.Metadata"/>
    <ref name="Structure.Book.ToC"/>
    <oneOrMore>
      <choice>
        <ref name="Structure.Chapter"/>
        <!-- Preface or Appendix -->
        <ref name="Structure.Page"/>
      </choice>
    </oneOrMore>
  </element>
</define>



<define name="Structure.Page">
  <element name="div">
    <attribute name="data-type">
      <value>page</value>
    </attribute>
    <ref name="class.attrib"/>
    <ref name="id.attrib.required"/>
    <ref name="Structure.PageMetadata"/>
    <ref name="Structure.Page.Title"/>
    <optional>
      <ref name="Structure.Page.Abstract"/>
    </optional>
    <zeroOrMore>
      <ref name="Flow.model"/>
    </zeroOrMore>
    <optional>
      <ref name="Content.Glossary"/>
    </optional>
    <optional>
      <ref name="Content.FootnoteRefs"/>
    </optional>
  </element>
</define>


<define name="Structure.Chapter">
  <element name="div">
    <attribute name="data-type">
      <value>chapter</value>
    </attribute>
    <ref name="Structure.ChapterMetadata"/>
    <element name="h1">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <ref name="Inline.model"/>
    </element>
    <oneOrMore>
      <ref name="Structure.Page"/>
    </oneOrMore>
  </element>
</define>


<!-- <div data-type="document-title" id="auto_7a6f73c5-5378-408b-986f-e54416e12ad0_72544">Preface</div> -->
<define name="Structure.Page.Title">
  <element name="div">
    <attribute name="data-type">
      <value>document-title</value>
    </attribute>
    <!-- id is not required for individual CNXML->HTML pages but *is* required for book conversion -->
    <ref name="id.attrib"/>
    <ref name="Inline.model"/>
  </element>
</define>

<!-- <div data-type="abstract" id="auto_7a6f73c5-5378-408b-986f-e54416e12ad0_78256"> -->
<define name="Structure.Page.Abstract">
  <element name="div">
    <attribute name="data-type">
      <value>abstract</value>
    </attribute>
    <!-- id is not required for individual CNXML->HTML pages but *is* required for book conversion -->
    <ref name="id.attrib"/>
    <ref name="Flow.model"/>
  </element>
</define>


<define name="Structure.PageMetadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <ref name="Structure.Metadata.Title"/>
    <ref name="Structure.Metadata.Uri"/>
    <ref name="Structure.Metadata.ShortId"/>
    <ref name="Structure.Metadata.Authors"/>
    <ref name="Structure.Metadata.Publishers"/>
    <ref name="Structure.Metadata.Permissions"/>
    <ref name="Structure.Metadata.Description"/>
    <ref name="Structure.Metadata.Keywords"/>
    <optional>
      <ref name="Structure.Metadata.Subjects"/>
    </optional>
    <optional>
      <ref name="Structure.Metadata.Resources"/>
    </optional>
  </element>
</define>

<define name="Structure.Metadata.Title">
  <element name="h1">
    <attribute name="data-type">
      <value>document-title</value>
    </attribute>
    <attribute name="itemprop">
      <value>name</value>
    </attribute>
    <ref name="Inline.model"/>
  </element>
</define>

<define name="Structure.Metadata.Uri">
  <element name="span">
    <attribute name="data-type">
      <value>cnx-archive-uri</value>
    </attribute>
    <attribute name="data-value">
      <ref name="UUID-and-version.datatype"/>
    </attribute>
  </element>
</define>

<define name="Structure.Metadata.ShortId">
  <element name="span">
    <attribute name="data-type">
      <value>cnx-archive-shortid</value>
    </attribute>
    <attribute name="data-value">
      <ref name="ShortId.datatype"/>
    </attribute>
  </element>
</define>

<define name="Structure.Metadata.Authors">
  <element name="div">
    <attribute name="class">
      <value>authors</value>
    </attribute>
    <oneOrMore>
      <group>
        <!-- Allow text like "Edited by:" intermingled in the DOM -->
        <optional>
          <text/>
        </optional>
        <ref name="Structure.Metadata.Authors.Item"/>
      </group>
    </oneOrMore>
    <!-- Allow text like "Edited by:" intermingled in the DOM -->
    <optional>
      <text/>
    </optional>
  </element>
</define>

<define name="Structure.Metadata.Authors.Item">
  <element name="span">
    <attribute name="data-type">
      <value>author</value>
    </attribute>
    <ref name="id.attrib.required"/>
    <attribute name="itemprop">
      <value>author</value>
    </attribute>
    <attribute name="itemscope">
      <value>itemscope</value>
    </attribute>
    <attribute name="itemtype">
      <value>http://schema.org/Person</value>
    </attribute>
    <element name="a">
      <attribute name="data-type">
        <value>cnx-id</value>
      </attribute>
      <attribute name="href">
        <ref name="Text.datatype"/>
      </attribute>
      <attribute name="itemprop">
        <value>url</value>
      </attribute>
      <ref name="Text.datatype"/>
    </element>
  </element>
</define>

<define name="Structure.Metadata.Publishers">
  <element name="div">
    <attribute name="class">
      <value>publishers</value>
    </attribute>
    <oneOrMore>
      <group>
        <!-- Allow text like "Edited by:" intermingled in the DOM -->
        <optional>
          <text/>
        </optional>
        <ref name="Structure.Metadata.Publishers.Item"/>
      </group>
    </oneOrMore>
    <!-- Allow text like "Edited by:" intermingled in the DOM -->
    <optional>
      <text/>
    </optional>
  </element>
</define>

<!-- Copy/Pasta from Book.Metadata.Authors.Item
  TODO: Combine these somehow.
-->
<define name="Structure.Metadata.Publishers.Item">
  <element name="span">
    <attribute name="data-type">
      <value>publisher</value>
    </attribute>
    <ref name="id.attrib.required"/>
    <attribute name="itemprop">
      <value>publisher</value>
    </attribute>
    <attribute name="itemscope">
      <value>itemscope</value>
    </attribute>
    <attribute name="itemtype">
      <value>http://schema.org/Person</value>
    </attribute>
    <element name="a">
      <attribute name="data-type">
        <value>cnx-id</value>
      </attribute>
      <attribute name="href">
        <ref name="Text.datatype"/>
      </attribute>
      <attribute name="itemprop">
        <value>url</value>
      </attribute>
      <ref name="Text.datatype"/>
    </element>
  </element>
</define>


<define name="Structure.Metadata.Permissions">
  <!-- change class="permissions" to some other attribute -->
  <element name="div">
    <attribute name="class">
      <value>permissions</value>
    </attribute>
    <optional>
      <ref name="Structure.Metadata.Copyrights"/>
    </optional>
    <ref name="Structure.Metadata.License"/>
  </element>
</define>

<define name="Structure.Metadata.License">
  <element name="p">
    <attribute name="class">
      <value>license</value>
    </attribute>
    <text/>
    <!-- <a data-type="license" itemprop="..."> -->
    <element name="a">
      <attribute name="data-type">
        <value>license</value>
      </attribute>
      <attribute name="href">
        <ref name="URI.datatype"/>
      </attribute>
      <attribute name="itemprop">
        <value>dc:license,lrmi:useRightsURL</value>
      </attribute>
      <text/>
    </element>
  </element>
</define>

<define name="Structure.Metadata.Copyrights">
  <element name="p">
    <attribute name="class">
      <value>copyright</value>
    </attribute>
    <!-- Copyright: -->
    <text/>
    <!--               <span data-type="copyright-holder" id="copyright-holder-1" itemprop="copyright-holder" itemscope="itemscope" itemtype="http://schema.org/Person">
            <a data-type="cnx-id" href="cnxecon" itemprop="url">OpenStax Economics</a>
          </span> -->
    <oneOrMore>
      <ref name="Structure.Metadata.Copyrights.Item"/>
    </oneOrMore>
  </element>
</define>

<define name="Structure.Metadata.Copyrights.Item">
  <element name="span">
    <attribute name="data-type">
      <value>copyright-holder</value>
    </attribute>
    <attribute name="itemprop">
      <value>copyright-holder</value>
    </attribute>
    <attribute name="itemscope">
      <value>itemscope</value>
    </attribute>
    <attribute name="itemtype">
      <value>http://schema.org/Person</value>
    </attribute>

    <element name="a">
      <attribute name="data-type">
        <value>cnx-id</value>
      </attribute>
      <!-- TODO: This attribute is invalid. the element should not be a link -->
      <attribute name="href">
        <ref name="UserLogin.datatype"/>
      </attribute>
      <attribute name="itemprop">
        <value>url</value>
      </attribute>
      <ref name="UserName.datatype"/>
    </element>
  </element>
</define>

<!-- <span data-type="cnx-archive-uri" data-value="69619d2b-68f0-44b0-b074-a9b2bf90b2c6@11.332"/>
<span data-type="cnx-archive-shortid" data-value="aWGdK2jw@11.332"/> -->
<define name="Structure.Book.Metadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <ref name="Structure.Metadata.Title"/>
    <ref name="Structure.Metadata.Uri"/>
    <ref name="Structure.Metadata.ShortId"/>
    <ref name="Structure.Metadata.Authors"/>
    <ref name="Structure.Metadata.Publishers"/>
    <ref name="Structure.Metadata.PrintStyle"/>
    <optional>
      <ref name="Structure.Metadata.TranslucentBinding"/>
    </optional>
    <ref name="Structure.Metadata.Permissions"/>
    <ref name="Structure.Metadata.Description"/>
    <ref name="Structure.Metadata.Subjects"/>
  </element>
</define>


<!-- <div class="print-style">
Print style:
<span data-type="print-style">ccap-economics</span>
</div> -->
<define name="Structure.Metadata.PrintStyle">
  <element name="div">
    <attribute name="class">
      <value>print-style</value>
    </attribute>
    <text/><!-- "Print style:" -->
    <element name="span">
      <attribute name="data-type">
        <value>print-style</value>
      </attribute>
      <ref name="TODO.enum.datatype"/>
    </element>
  </element>
</define>

<define name="Structure.ChapterMetadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <ref name="Structure.Metadata.Title"/>
    <ref name="Structure.Metadata.TranslucentBinding"/>
    <ref name="Structure.Metadata.Permissions"/>
  </element>
</define>


<define name="Structure.Metadata.TranslucentBinding">
  <!-- TODO: remove me. why is this here? -->
  <element name="span">
    <attribute name="data-type">
      <value>binding</value>
    </attribute>
    <attribute name="data-value">
      <value>translucent</value>
    </attribute>
  </element>
</define>

<define name="Structure.Metadata.Description">
  <element name="div">
    <attribute name="class">
      <value>description</value>
    </attribute>
    <attribute name="data-type">
      <value>description</value>
    </attribute>
    <attribute name="itemprop">
      <value>description</value>
    </attribute>
    <oneOrMore>
      <ref name="Flow.model"/>
    </oneOrMore>
  </element>
</define>

<define name="Structure.Metadata.Keywords">
  <!-- TODO: This should probably be wrapped in an element -->
  <zeroOrMore>
    <element name="div">
      <attribute name="data-type">
        <value>keyword</value>
      </attribute>
      <attribute name="itemprop">
        <value>keywords</value>
      </attribute>
      <text/>
    </element>
  </zeroOrMore>
</define>

<!-- <div data-type="subject" itemprop="about">Mathematics and Statistics</div> -->
<define name="Structure.Metadata.Subjects">
  <zeroOrMore>
    <element name="div">
      <attribute name="data-type">
        <value>subject</value>
      </attribute>
      <attribute name="itemprop">
        <value>about</value>
      </attribute>
      <ref name="Subject.datatype"/>
    </element>
  </zeroOrMore>
</define>

<!-- <div data-type="resources" style="display: none"> <ul>
<li><a href="971b6320e705d9c81cbad7f4a98148ab91456d3b">971b6320e705d9c81cbad7f4a98148ab91456d3b</a></li>        </ul>
-->
<define name="Structure.Metadata.Resources">
  <element name="div">
    <attribute name="data-type">
      <value>resources</value>
    </attribute>
    <!-- TODO: remove this attribute, maybe the whole element. What is it used for? -->
    <attribute name="style">
      <value>display: none</value>
    </attribute>
    <optional>
      <element name="ul">
        <oneOrMore>
          <ref name="Structure.Metadata.Resources.Item"/>
        </oneOrMore>
      </element>
    </optional>
  </element>
</define>

<define name="Structure.Metadata.Resources.Item">
  <element name="li">
    <element name="a">
      <attribute name="href">
        <ref name="Sha.datatype"/>
      </attribute>
      <ref name="Sha.datatype"/>
    </element>
  </element>
</define>

<!-- The <nav id="toc"> -->
<define name="Structure.Book.ToC">
  <element name="nav">
    <attribute name="id">
      <value>toc</value>
    </attribute>
    <element name="ol">
      <zeroOrMore>
        <ref name="Structure.Book.ToC.LeafItem"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="Structure.Book.ToC.InternalItem"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="Structure.Book.ToC.LeafItem"/>
      </zeroOrMore>
    </element>
  </element>
</define>

<define name="Structure.Book.ToC.LeafItem">
  <element name="li">
    <attribute name="cnx-archive-shortid">
      <ref name="ShortId.datatype"/>
    </attribute>
    <attribute name="cnx-archive-uri">
      <ref name="UUID-and-version.datatype"/>
    </attribute>
    <element name="a">
      <attribute name="href">
        <ref name="URI.datatype"/>
      </attribute>
      <text/>
    </element>
  </element>
</define>

<define name="Structure.Book.ToC.InternalItem">
  <element name="li">
    <element name="span">
      <text/>
    </element>
    <element name="ol">
      <oneOrMore>
        <choice>
          <ref name="Structure.Book.ToC.InternalItem"/>
          <ref name="Structure.Book.ToC.LeafItem"/>
        </choice>
      </oneOrMore>
    </element>
  </element>
</define>


<!--
<meta content="en" data-type="language" itemprop="inLanguage"/>
<meta content="MathML" itemprop="accessibilityFeature"/>
<meta content="LaTeX" itemprop="accessibilityFeature"/>
<meta content="alternativeText" itemprop="accessibilityFeature"/>
<meta content="captions" itemprop="accessibilityFeature"/>
<meta content="structuredNavigation" itemprop="accessibilityFeature"/>
<meta content="2014-01-02T22:13:54Z" itemprop="dateCreated"/>
<meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/>
-->
<define name="enum.attr.meta.itemprop">
  <choice>
    <value>inLanguage</value>
    <value>accessibilityFeature</value>
    <value>dateCreated</value>
    <value>dateModified</value>
  </choice>
</define>

<define name="enum.attr.meta.data-type">
  <value>language</value>
</define>

<!-- <meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/> -->
<define name="meta.attlist" combine="interleave">
  <choice>
    <!-- <meta content="en" data-type="language" itemprop="inLanguage"/> -->
    <group>
      <attribute name="itemprop">
        <value>inLanguage</value>
      </attribute>
      <attribute name="data-type"><!-- TODO: Remove this attribute -->
        <value>language</value>
      </attribute>
    </group>
    <!-- <meta content="MathML" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="LaTeX" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="alternativeText" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="captions" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="structuredNavigation" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="2014-01-02T22:13:54Z" itemprop="dateCreated"/> -->
    <!-- <meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/>  -->
    <attribute name="itemprop">
      <choice>
        <value>accessibilityFeature</value>
        <value>dateCreated</value>
        <value>dateModified</value>
      </choice>
    </attribute>
  </choice>
</define>




</grammar>
