textbook-html/textbook-html-base.rng

<grammar ns="http://www.w3.org/1999/xhtml"
         xmlns="http://relaxng.org/ns/structure/1.0">

<!-- See https://www.w3.org/MarkUp/2010/xhtml-m12n-relaxng-20101216/#sec_3.4.3. -->
<include href="./xhtml/xhtml.rng"/>

<!-- <include href="../cnxml/xml/mathml/schema/rng/2.0/mathml2.rng"/> -->
<!-- <include href="http://www.w3.org/Math/RelaxNG/mathml3/mathml3.rng"/> -->
<include href="./mathml2.rng"/>
<define name="Inline.class" combine="choice">
  <ref name="math"/>
</define>

<!-- Placeholder for enums -->
<define name="TODO.enum.datatype">
  <text/>
</define>


<define name="UUID-and-version.datatype">
  <text/>
</define>


<define name="element.Page">
  <element name="div">
    <attribute name="data-type">
      <value>page</value>
    </attribute>
    <optional>
      <attribute name="class">
        <text/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="ID.datatype"/>
    </attribute>
    <zeroOrMore>
      <ref name="Flow.model"/>
    </zeroOrMore>
    <!-- <ref name="element.PageMetadata"/>
    <element name="div">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <ref name="Inline.model"/>
    </element>
    <zeroOrMore>
      <element name="cnx-pi">
        <attribute name="data-type">
          <text/>
        </attribute>
        <text/>
      </element>
    </zeroOrMore>
    <oneOrMore>
      <ref name="Block.model"/>
    </oneOrMore> -->
    <optional>
      <element name="div">
        <ref name="element.FootnoteRefs"/>
      </element>
    </optional>
  </element>
</define>


<define name="element.Chapter">
  <element name="div">
    <attribute name="data-type">
      <value>chapter</value>
    </attribute>
    <ref name="element.ChapterMetadata"/>
    <element name="h1">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <ref name="Inline.model"/>
    </element>
    <oneOrMore>
      <ref name="element.Page"/>
    </oneOrMore>
  </element>
</define>



<define name="element.PageMetadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <element name="h1">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <attribute name="itemprop">
        <value>name</value>
      </attribute>
      <ref name="Flow.model"/>
    </element>
    <element name="span">
      <attribute name="data-type">
        <value>cnx-archive-uri</value>
      </attribute>
      <attribute name="data-value">
        <ref name="UUID-and-version.datatype"/>
      </attribute>
    </element>
    <element name="div">
      <attribute name="class">
        <value>authors</value>
      </attribute>
      <text/>
      <oneOrMore>
        <element name="span">
          <attribute name="data-type">
            <value>author</value>
          </attribute>
          <attribute name="id">
            <ref name="ID.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>author</value>
          </attribute>
          <attribute name="itemscope">
            <value>itemscope</value>
          </attribute>
          <attribute name="itemtype">
            <value>http://schema.org/Person</value>
          </attribute>
          <element name="a">
            <attribute name="data-type">
              <value>cnx-id</value>
            </attribute>
            <attribute name="href">
              <ref name="Text.datatype"/>
            </attribute>
            <attribute name="itemprop">
              <value>url</value>
            </attribute>
            <ref name="Text.datatype"/>
          </element>
        </element>
      </oneOrMore>
    </element>
    <!-- TODO: remove me. why is this here? -->
    <element name="span">
      <attribute name="data-type">
        <value>binding</value>
      </attribute>
      <attribute name="data-value">
        <value>translucent</value>
      </attribute>
    </element>
    <!-- change class="permissions" to some other attribute -->
    <element name="div">
      <attribute name="class">
        <value>permissions</value>
      </attribute>
      <element name="p">
        <attribute name="class">
          <value>license</value>
        </attribute>
        <text/>
        <element name="a">
          <attribute name="data-type">
            <value>license</value>
          </attribute>
          <attribute name="href">
            <ref name="URI.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>dc:license,lrmi:useRightsURL</value>
          </attribute>
          <text/>
        </element>
      </element>
    </element>
  </element>
</define>


<define name="Metadata.AuthorList">
  <oneOrMore>
    <choice>
      <!-- Allow text like "Edited by:" intermingled in the DOM -->
      <text/>
      <element name="span">
        <attribute name="data-type">
          <value>author</value>
        </attribute>
        <attribute name="id">
          <ref name="ID.datatype"/>
        </attribute>
        <attribute name="itemprop">
          <value>author</value>
        </attribute>
        <attribute name="itemscope">
          <value>itemscope</value>
        </attribute>
        <attribute name="itemtype">
          <value>http://schema.org/Person</value>
        </attribute>
        <element name="a">
          <attribute name="data-type">
            <value>cnx-id</value>
          </attribute>
          <attribute name="href">
            <ref name="Text.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>url</value>
          </attribute>
          <ref name="Text.datatype"/>
        </element>
      </element>
    </choice>
  </oneOrMore>
</define>

<!-- Copy/Pasta from Metadata.AuthorList
  TODO: Combine these somehow.
-->
<define name="Metadata.PublisherList">
  <oneOrMore>
    <choice>
      <!-- Allow text like "Edited by:" intermingled in the DOM -->
      <text/>
      <element name="span">
        <attribute name="data-type">
          <value>publisher</value>
        </attribute>
        <attribute name="id">
          <ref name="ID.datatype"/>
        </attribute>
        <attribute name="itemprop">
          <value>publisher</value>
        </attribute>
        <attribute name="itemscope">
          <value>itemscope</value>
        </attribute>
        <attribute name="itemtype">
          <value>http://schema.org/Person</value>
        </attribute>
        <element name="a">
          <attribute name="data-type">
            <value>cnx-id</value>
          </attribute>
          <attribute name="href">
            <ref name="Text.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>url</value>
          </attribute>
          <ref name="Text.datatype"/>
        </element>
      </element>
    </choice>
  </oneOrMore>
</define>


<!-- <span data-type="cnx-archive-uri" data-value="69619d2b-68f0-44b0-b074-a9b2bf90b2c6@11.332"/>
<span data-type="cnx-archive-shortid" data-value="aWGdK2jw@11.332"/> -->
<define name="element.BookMetadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <element name="h1">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <attribute name="itemprop">
        <value>name</value>
      </attribute>
      <ref name="Flow.model"/>
    </element>
    <element name="span">
      <attribute name="data-type">
        <value>cnx-archive-uri</value>
      </attribute>
      <attribute name="data-value">
        <ref name="UUID-and-version.datatype"/>
      </attribute>
    </element>
    <element name="span">
      <attribute name="data-type">
        <value>cnx-archive-shortid</value>
      </attribute>
      <attribute name="data-value">
        <ref name="UUID-and-version.datatype"/>
      </attribute>
    </element>
    <element name="div">
      <attribute name="class">
        <value>authors</value>
      </attribute>
      <ref name="Metadata.AuthorList"/>
    </element>
    <element name="div">
      <attribute name="class">
        <value>publishers</value>
      </attribute>
      <ref name="Metadata.PublisherList"/>
    </element>

    <!-- <div class="print-style">
    Print style:
    <span data-type="print-style">ccap-economics</span>
    </div> -->
    <element name="div">
      <attribute name="class">
        <value>print-style</value>
      </attribute>
      <text/><!-- "Print style:" -->
      <element name="span">
        <attribute name="data-type">
          <value>print-style</value>
        </attribute>
        <ref name="TODO.enum.datatype"/>
      </element>
    </element>

    <!-- TODO: remove me. why is this here? It is only in Pages -->
    <optional>
      <element name="span">
        <attribute name="data-type">
          <value>binding</value>
        </attribute>
        <attribute name="data-value">
          <value>translucent</value>
        </attribute>
      </element>
    </optional>



    <!-- <p class="copyright">
  Copyright:
      <span data-type="copyright-holder" id="copyright-holder-1" itemprop="copyright-holder" itemscope="itemscope" itemtype="http://schema.org/Person">
        <a data-type="cnx-id" href="cnxecon" itemprop="url">OpenStax Economics</a>
      </span>        </p>
<p class="license">
  Licensed:
  <a data-type="license" href="http://creativecommons.org/licenses/by/4.0/" itemprop="dc:license,lrmi:useRightsURL">Creative Commons Attribution License</a>
</p> -->
    <!-- TODO: change class="permissions" to some other attribute -->
    <element name="div">
      <attribute name="class">
        <value>permissions</value>
      </attribute>
      <optional>
        <element name="p">
          <attribute name="class">
            <value>copyright</value>
          </attribute>
          <text/><!-- "Copyright:" -->
          <element name="span">
            <attribute name="data-type">
              <value>copyright-holder</value>
            </attribute>
            <ref name="id.attrib"/>
            <attribute name="itemprop">
              <value>copyright-holder</value>
            </attribute>
            <attribute name="itemscope">
              <value>itemscope</value>
            </attribute>
            <attribute name="itemtype">
              <value>http://schema.org/Person</value>
            </attribute>
            <!-- TODO: This link is broken & needs fixing in the code that generates it -->
            <element name="a">
              <attribute name="data-type">
                <value>cnx-id</value>
              </attribute>
              <attribute name="href">
                <ref name="URI.datatype"/>
              </attribute>
              <attribute name="itemprop">
                <value>url</value>
              </attribute>
              <text/><!-- Title of the book -->
            </element>
          </element>
        </element>
      </optional>
      <element name="p">
        <attribute name="class">
          <value>license</value>
        </attribute>
        <text/>
        <element name="a">
          <attribute name="data-type">
            <value>license</value>
          </attribute>
          <attribute name="href">
            <ref name="URI.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>dc:license,lrmi:useRightsURL</value>
          </attribute>
          <text/>
        </element>
      </element>
    </element>

    <!-- <div class="description" data-type="description" itemprop="description">
      <div><div>
        <p><em data-effect="italics">Principles of Economics</em> covers the scope and sequence for a two-semester principles of economics course. The text also includes many current examples, including; discussions on the great recession, the controversy among economists over the Affordable Care Act (Obamacare), the recent government shutdown, and the appointment of the United States’ first female Federal Reserve chair, Janet Yellen.</p>

        <p>The pedagogical choices, chapter arrangements, and learning objective fulfillment were developed and vetted with feedback from educators dedicated to the project. The outcome is a balanced approach to micro and macro economics, to both Keynesian and classical views, and to the theory and application of economics concepts. Current events are treated in a politically-balanced way, as well.</p>

        <p><strong>Note:</strong> <em data-effect="italics">Principles of Economics</em> PDF and web view versions have been updated to include current FRED (Federal Reserve Economic) data. </p>
        </div>
        </div>

    </div> -->
    <element name="div">
      <attribute name="class">
        <value>description</value>
      </attribute>
      <attribute name="data-type">
        <value>description</value>
      </attribute>
      <attribute name="itemprop">
        <value>description</value>
      </attribute>
      <element name="div">
        <element name="div">
          <oneOrMore>
            <element name="p">
              <ref name="Inline.model"/>
            </element>
          </oneOrMore>
        </element>
      </element>
    </element>

    <!-- <div data-type="subject" itemprop="about">Mathematics and Statistics</div><div data-type="subject" itemprop="about">OpenStax Featured</div>    </div> -->
    <oneOrMore>
      <element name="div">
        <attribute name="data-type">
          <value>subject</value>
        </attribute>
        <attribute name="itemprop">
          <value>about</value>
        </attribute>
        <text/>
      </element>
    </oneOrMore>

  </element>
</define>


<define name="element.ChapterMetadata">
  <element name="div">
    <attribute name="data-type">
      <value>metadata</value>
    </attribute>
    <element name="h1">
      <attribute name="data-type">
        <value>document-title</value>
      </attribute>
      <attribute name="itemprop">
        <value>name</value>
      </attribute>
      <ref name="Flow.model"/>
    </element>
    <!-- TODO: remove me. why is this here? -->
    <element name="span">
      <attribute name="data-type">
        <value>binding</value>
      </attribute>
      <attribute name="data-value">
        <value>translucent</value>
      </attribute>
    </element>
    <!-- change class="permissions" to some other attribute -->
    <element name="div">
      <attribute name="class">
        <value>permissions</value>
      </attribute>
      <element name="p">
        <attribute name="class">
          <value>license</value>
        </attribute>
        <text/>
        <element name="a">
          <attribute name="data-type">
            <value>license</value>
          </attribute>
          <attribute name="href">
            <ref name="URI.datatype"/>
          </attribute>
          <attribute name="itemprop">
            <value>dc:license,lrmi:useRightsURL</value>
          </attribute>
          <text/>
        </element>
      </element>
    </element>
  </element>
</define>



<!--
<meta content="en" data-type="language" itemprop="inLanguage"/>
<meta content="MathML" itemprop="accessibilityFeature"/>
<meta content="LaTeX" itemprop="accessibilityFeature"/>
<meta content="alternativeText" itemprop="accessibilityFeature"/>
<meta content="captions" itemprop="accessibilityFeature"/>
<meta content="structuredNavigation" itemprop="accessibilityFeature"/>
<meta content="2014-01-02T22:13:54Z" itemprop="dateCreated"/>
<meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/>
-->
<define name="enum.attr.meta.itemprop">
  <choice>
    <value>inLanguage</value>
    <value>accessibilityFeature</value>
    <value>dateCreated</value>
    <value>dateModified</value>
  </choice>
</define>

<define name="enum.attr.meta.data-type">
  <value>language</value>
</define>

<!-- <meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/> -->
<define name="meta.attlist" combine="interleave">
  <choice>
    <!-- <meta content="en" data-type="language" itemprop="inLanguage"/> -->
    <group>
      <attribute name="itemprop">
        <value>inLanguage</value>
      </attribute>
      <attribute name="data-type"><!-- TODO: Remove this attribute -->
        <value>language</value>
      </attribute>
    </group>
    <!-- <meta content="MathML" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="LaTeX" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="alternativeText" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="captions" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="structuredNavigation" itemprop="accessibilityFeature"/> -->
    <!-- <meta content="2014-01-02T22:13:54Z" itemprop="dateCreated"/> -->
    <!-- <meta content="2016-11-04T17:17:06Z" itemprop="dateModified"/>  -->
    <attribute name="itemprop">
      <choice>
        <value>accessibilityFeature</value>
        <value>dateCreated</value>
        <value>dateModified</value>
      </choice>
    </attribute>
  </choice>
</define>


<!-- <table data-label=""> -->
<define name="table.attlist" combine="interleave">
  <optional>
    <attribute name="data-label">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-frame">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>



<!-- <td data-valign="top"> -->
<define name="enum.attr.td.data-valign">
  <choice>
    <value>top</value>
    <value>middle</value>
    <value>bottom</value>
  </choice>
</define>
<define name="enum.attr.td.data-align">
  <choice>
    <value>left</value>
    <value>center</value>
    <value>right</value>
    <value>justify</value>
  </choice>
</define>
<define name="td.attlist" combine="interleave">
  <optional>
    <attribute name="data-valign">
      <ref name="enum.attr.td.data-valign"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-align">
      <ref name="enum.attr.td.data-align"/>
    </attribute>
  </optional>
</define>

<!-- <th data-align="center"> -->
<define name="th.attlist" combine="interleave">
  <optional>
    <attribute name="data-valign">
      <ref name="enum.attr.td.data-valign"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-align">
      <ref name="enum.attr.td.data-align"/>
    </attribute>
  </optional>
</define>



<!-- <ol data-number-style="lower-alpha"> -->
<define name="enum.attr.ol.data-number-style">
  <choice>
    <value>arabic</value><!-- TODO: remove the default -->
    <value>lower-alpha</value>
    <value>upper-alpha</value>
    <value>lower-roman</value>
    <value>upper-roman</value>
  </choice>
</define>
<define name="enum.attr.ol.data-mark-suffix">
  <text/><!-- TODO: maybe disallow this and just discard it in the CNXML->HTML conversion -->
</define>
<define name="ol.attlist" combine="interleave">
  <optional>
    <attribute name="data-number-style">
      <ref name="enum.attr.ol.data-number-style"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-mark-suffix">
      <ref name="enum.attr.ol.data-mark-suffix"/>
    </attribute>
  </optional>
  <!-- algebra trigonometry uses this once -->
  <optional>
    <attribute name="data-mark-prefix">
      <ref name="enum.attr.ol.data-mark-suffix"/>
    </attribute>
  </optional>
</define>



<!-- <ul data-bullet-style="bullet"  -->
<define name="enum.attr.ul.data-bullet-style">
  <choice>
    <value>bullet</value><!-- TODO: remove the default -->
    <value>open-circle</value>
    <value>pilcrow</value>
    <value>rpilcrow</value>
    <value>asterisk</value>
    <value>dash</value>
    <value>section</value>
    <value>none</value>
  </choice>
</define>
<define name="ul.attlist" combine="interleave">
  <optional>
    <attribute name="data-bullet-style">
      <ref name="enum.attr.ul.data-bullet-style"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-mark-suffix">
      <ref name="enum.attr.ol.data-mark-suffix"/>
    </attribute>
  </optional>
  <!-- lists have data-labeled-item="true" so CSS can set list-style-type: none; -->
  <optional>
    <attribute name="data-labeled-item">
      <value>true</value>
    </attribute>
  </optional>
</define>

<!-- <li cnx-archive-shortid="vPtYALiD@9" cnx-archive-uri="bcfb5800-b883-4a63-8599-e098b407ddfc@9"> (in the ToC) -->
<define name="li.attlist" combine="interleave">
  <optional><!-- Make these required when in the ToC -->
    <attribute name="cnx-archive-shortid"><!-- TODO: Rename this to data-* -->
      <ref name="Text.datatype"/>
    </attribute>
    <attribute name="cnx-archive-uri"><!-- TODO: Rename this to data-* -->
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>



<!-- <a data-type="license" itemprop="..."> -->
<define name="enum.attr.a.data-type">
  <choice>
    <value>license</value>
    <value>cnx-id</value>
  </choice>
</define>
<define name="enum.attr.a.itemprop">
  <choice>
    <value>url</value>
    <value>dc:license,lrmi:useRightsURL</value>
  </choice>
</define>
<define name="a.attlist" combine="interleave">
  <optional>
    <attribute name="data-type">
      <ref name="enum.attr.a.data-type"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="itemprop">
      <ref name="enum.attr.a.itemprop"/>
    </attribute>
  </optional>
</define>


<!-- <img data-alt="..." data-media-type="..."> -->
<define name="enum.attr.img.data-media-type">
  <choice>
    <value>image/png</value>
    <value>image/jpeg</value>
    <!-- TODO: automatically convert this to jpeg -->
    <value>image/jpg</value>
  </choice>
</define>
<define name="img.attlist" combine="interleave">
  <optional>
    <attribute name="data-media-type">
      <ref name="enum.attr.img.data-media-type"/>
    </attribute>
  </optional>
</define>




<!-- <strong data-effect="..."> -->
<define name="enum.attr.strong.data-effect">
  <!-- TODO: remove the default -->
  <value>bold</value>
</define>
<define name="strong.attlist" combine="interleave">
  <optional>
    <attribute name="data-effect">
      <ref name="enum.attr.strong.data-effect"/>
    </attribute>
  </optional>
</define>



<!-- <em data-effect="..."> -->
<define name="enum.attr.em.data-effect">
  <!-- TODO: remove the default -->
  <value>italics</value>
</define>
<define name="em.attlist" combine="interleave">
  <optional>
    <attribute name="data-effect">
      <ref name="enum.attr.em.data-effect"/>
    </attribute>
  </optional>
</define>



<!-- <span data-type="..." data-alt="..."> -->
<define name="enum.attr.span.data-type">
  <choice>
    <!-- TODO: Make a different validation structure for metadata elements. That way these values are not valid within the content -->
    <value>cnx-archive-shortid</value>
    <value>cnx-archive-uri</value>
    <value>author</value>
    <value>publisher</value>
    <value>print-style</value>
    <value>copyright-holder</value>
    <value>publisher</value>
    <value>title</value>
    <value>binding</value>
    <!-- These are in content and should remain here -->
    <value>media</value>
    <value>term</value>
    <value>foreign</value>
  </choice>
</define>
<define name="enum.attr.span.itemprop">
  <!-- TODO: Make a different validation structure for metadata elements. That way these values are not valid within the content -->
  <choice>
    <value>author</value>
    <value>copyright-holder</value>
    <value>publisher</value>
  </choice>
</define>
<define name="span.attlist" combine="interleave">
  <optional><!-- TODO: make this required again. It is optional because of the ToC -->
    <attribute name="data-type">
      <ref name="enum.attr.span.data-type"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-alt">
      <!-- TODO: Maybe change the CNXML conversion to use an ARIA attribute -->
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <optional>
    <!-- span data-type="copyright-holder" id="copyright-holder-1" itemprop="copyright-holder" itemscope="itemscope" itemtype="http://schema.org/Person"> -->
    <attribute name="itemprop">
      <ref name="enum.attr.span.itemprop"/>
    </attribute>
    <attribute name="itemscope">
      <value>itemscope</value>
    </attribute>
    <attribute name="itemtype">
      <value>http://schema.org/Person</value>
    </attribute>
  </optional>

  <!-- <span data-type="cnx-archive-shortid" data-value="LJYhl4AE@11"/> -->
  <optional>
    <attribute name="data-value">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>




<!-- <h1 data-type="..."> -->
<define name="enum.attr.Heading.data-type">
  <choice>
    <value>document-title</value>
    <value>title</value>

    <value>glossary-title</value>
  </choice>
</define>
<define name="enum.attr.Heading.itemprop">
  <value>name</value>
</define>
<define name="Heading.attrib" combine="interleave">
  <!-- TODO: Make a different validation structure for Page elements. That way these values are not valid within the content -->
  <attribute name="data-type">
    <ref name="enum.attr.Heading.data-type"/>
  </attribute>

  <!-- <h1 data-type="document-title" itemprop="name"> -->
  <optional>
    <attribute name="itemprop">
      <ref name="enum.attr.Heading.itemprop"/>
    </attribute>
  </optional>
</define>




<define name="enum.attr.div.itemprop">
  <choice>
    <!-- TODO: link this with data-type="description" or remove data-type from the HTML -->
    <value>description</value>
    <!-- TODO: link this with data-type="subject" or remove data-type from the HTML -->
    <value>about</value>
    <value>keywords</value>
  </choice>
</define>

<define name="div.attlist" combine="interleave">
  <optional>
    <choice>
      <group>
        <!-- catch-all for the other, simpler data-types -->
        <attribute name="data-type">
          <ref name="enum.attr.div.data-type"/>
        </attribute>
      </group>
    </choice>
  </optional>


  <optional><!-- TODO: Make this required when data-type="keyword" -->
    <attribute name="itemprop">
      <ref name="enum.attr.div.itemprop"/>
    </attribute>
  </optional>
  <!-- data-has-label="true" data-label="" -->
  <optional>
    <attribute name="data-label">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-has-label"><!-- TODO: remove from cnxml conversion -->
      <value>true</value>
    </attribute>
  </optional>


  <!-- <div class="note economics bringhome" data-element-type="note" data-label="note" data-type="note" -->
  <optional><!-- TODO: Make this optional when data-type="note" -->
    <attribute name="data-element-type">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>

</define>


<define name="element.Space">
  <attribute name="data-type">
    <value>space</value>
  </attribute>
  <attribute name="data-count">
    <ref name="Number.datatype"/>
  </attribute>
  <ref name="Text.datatype"/>
</define>


<define name="element.FootnoteNumber">
  <attribute name="data-type">
    <value>footnote-number</value>
  </attribute>
  <attribute name="id">
    <ref name="ID.datatype"/>
  </attribute>
  <element name="a">
    <attribute name="data-type">
      <value>footnote-link</value>
    </attribute>
    <attribute name="href">
      <ref name="URI.datatype"/>
    </attribute>
    <ref name="Number.datatype"/>
  </element>
</define>

<!-- This occurs at the end of a Page
    <div
        data-type="footnote-refs"
      ><h3
          data-type="footnote-refs-title"
        >Footnotes</h3
      ><ul
          data-list-type="bulleted"
          data-bullet-style="none"
        ><li
            data-type="footnote-ref"
            id="footnote1"
          ><a
              data-type="footnote-ref-link"
              href="#footnote-ref1"
            >1</a
          > <span
              data-type="footnote-ref-content"
            >J. Hulcr et al. &#x201C;A Jungle in There: Bacteria in Belly Buttons are Highly Diverse, but Predictable.&#x201D; <em
                data-effect="italics"
              >PLoS ONE</em
            > 7 no. 11 (2012): e47712. doi:10.1371/journal.pone.0047712.</span
          ></li
        ></ul
      ></div
    > -->
<define name="element.FootnoteRefs">
  <attribute name="data-type">
    <value>footnote-refs</value>
  </attribute>
  <element name="h3">
    <attribute name="data-type">
      <value>footnote-refs-title</value>
    </attribute>
    <value>Footnotes</value>
  </element>
  <element name="ul">
    <attribute name="data-list-type">
      <value>bulleted</value>
    </attribute>
    <attribute name="data-bullet-style">
      <value>none</value>
    </attribute>
    <oneOrMore>
      <element name="li">
        <attribute name="data-type">
          <value>footnote-ref</value>
        </attribute>
        <attribute name="id">
          <ref name="ID.datatype"/>
        </attribute>
        <element name="a">
          <attribute name="data-type">
            <value>footnote-ref-link</value>
          </attribute>
          <attribute name="href">
            <ref name="URI.datatype"/>
          </attribute>
          <ref name="Number.datatype"/>
        </element>
        <element name="span">
          <attribute name="data-type">
            <value>footnote-ref-content</value>
          </attribute>
          <ref name="Inline.model"/>
        </element>
      </element>
    </oneOrMore>
  </element>
</define>

<!-- Optional note title -->
<define name="element.Note.OptionalTitle">
  <optional>
    <element name="div">
      <attribute name="data-type">
        <value>title</value>
      </attribute>
      <ref name="Common.attrib"/>
      <ref name="Flow.model"/>
    </element>
  </optional>
</define>

<define name="element.Note.attrs">
  <ref name="Common.attrib"/>
  <!-- TODO: Move the following 2 into a common blockish-div-thing -->
  <optional>
    <attribute name="data-label">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <!-- TODO: Remove this attribute in the CNXML->HTML conversion -->
  <optional>
    <attribute name="data-has-label">
      <value>true</value>
    </attribute>
  </optional>
  <optional>
    <attribute name="data-element-type">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <ref name="element.Note.OptionalTitle"/>
</define>


<define name="element.Note">
  <attribute name="data-type">
    <value>note</value>
  </attribute>
  <ref name="element.Note.attrs"/>
  <ref name="Flow.model"/>
</define>

<define name="element.Equation">
  <attribute name="data-type">
    <value>equation</value>
  </attribute>
  <ref name="element.Note.attrs"/>
  <ref name="Flow.model"/>
</define>


<define name="element.Problem">
  <element name="div">
    <attribute name="data-type">
      <value>problem</value>
    </attribute>
    <ref name="element.Note.attrs"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="element.Solution">
  <element name="div">
    <attribute name="data-type">
      <value>solution</value>
    </attribute>
    <ref name="element.Note.attrs"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="element.Commentary">
  <element name="div">
    <attribute name="data-type">
      <value>commentary</value>
    </attribute>
    <ref name="element.Note.attrs"/>
    <ref name="Flow.model"/>
  </element>
</define>

<!-- TODO: Require id attributes for some elements -->
<define name="element.Exercise">
  <attribute name="data-type">
    <value>exercise</value>
  </attribute>
  <ref name="element.Note.attrs"/>
  <ref name="element.Problem"/>
  <zeroOrMore>
    <ref name="element.Solution"/>
  </zeroOrMore>
  <zeroOrMore>
    <ref name="element.Commentary"/>
  </zeroOrMore>
</define>


<define name="element.Example">
  <attribute name="data-type">
    <value>example</value>
  </attribute>
  <ref name="element.Note.attrs"/>
  <ref name="Flow.model"/>
</define>


<!-- <div data-count="1" data-type="newline"  -->
<define name="element.Newline">
  <attribute name="data-type">
    <value>newline</value>
  </attribute>
  <ref name="element.Note.attrs"/>
  <optional>
    <attribute name="data-count">
      <ref name="Number.datatype"/>
    </attribute>
  </optional>
  <zeroOrMore>
    <ref name="br"/>
  </zeroOrMore>
</define>



<!-- <div data-type="..." data-list-type="..."> -->
<define name="enum.attr.div.data-type">
  <choice>
    <!-- TODO: Make a different validation structure for Page elements. That way these values are not valid within the content -->
    <value>metadata</value>
    <value>description</value>
    <value>subject</value>
    <value>keyword</value>
    <value>resources</value>
    <value>document-title</value>
    <value>abstract</value>

    <value>metadata</value>

    <!-- TODO: Don't forget about the child Heading glossary-title -->
    <value>glossary</value>
  </choice>
</define>
<define name="enum.attr.div.data-number-style">
  <choice>
    <value>arabic</value>
    <value>lower-alpha</value>
    <value>upper-alpha</value>
    <value>upper-roman</value>
    <value>lower-roman</value>
  </choice>
</define>
<define name="enum.attr.div.data-bullet-style">
  <choice>
    <value>bullet</value>
    <value>open-circle</value>
    <value>pilcrow</value>
    <value>rpilcrow</value>
    <value>asterisk</value>
    <value>dash</value>
    <value>section</value>
    <value>none</value>
  </choice>
</define>
<!-- <div data-list-type="enumerated" data-number-style="lower-alpha" data-type="list" -->
<!-- <div data-bullet-style="bullet" data-list-type="bulleted" data-type="list"  -->
<define name="div-span-list.attrs">
  <attribute name="data-type">
    <value>list</value>
  </attribute>
  <choice>
    <group>
      <attribute name="data-list-type">
        <value>bulleted</value>
      </attribute>
      <optional>
        <attribute name="data-bullet-style">
          <ref name="enum.attr.div.data-bullet-style"/>
        </attribute>
      </optional>
    </group>
    <group>
      <attribute name="data-list-type">
        <value>enumerated</value>
      </attribute>
      <optional>
        <attribute name="data-number-style">
          <ref name="enum.attr.div.data-number-style"/>
        </attribute>
      </optional>
    </group>
  </choice>
  <ref name="element.Note.attrs"/>
</define>

<define name="element.DivList">
  <ref name="div-span-list.attrs"/>
  <oneOrMore>
    <ref name="element.DivListItem"/>
  </oneOrMore>
</define>


<!-- <div data-count="1" data-type="newline"  -->
<define name="element.DivListItem">
  <element name="div">
    <attribute name="data-type">
      <value>item</value>
    </attribute>
    <ref name="element.Note.attrs"/>
    <ref name="Flow.model"/>
  </element>
</define>

<define name="element.SpanList">
  <ref name="div-span-list.attrs"/>
  <oneOrMore>
    <ref name="element.SpanListItem"/>
  </oneOrMore>
</define>

<define name="element.SpanListItem">
  <element name="span">
    <attribute name="data-type">
      <value>item</value>
    </attribute>
    <ref name="element.Note.attrs"/>
    <ref name="Inline.model"/>
  </element>
</define>




<define name="element.Media">
  <attribute name="data-type">
    <value>media</value>
  </attribute>
  <attribute name="id">
    <ref name="ID.datatype"/>
  </attribute>
  <attribute name="data-alt">
    <ref name="Text.datatype"/>
  </attribute>
  <optional>
    <attribute name="longdesc">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
  <choice>
    <ref name="img"/>
    <!-- <ref name="element.Audio"/>
    <ref name="element.Video"/>
    <ref name="element.Labview"/>
    <ref name="element.Download"/>
    <ref name="element.Flash"/> -->
  </choice>
</define>


<define name="Block.class" combine="choice">
  <choice>
    <element name="div">
      <choice>
        <ref name="element.Note"/>
        <ref name="element.Equation"/>
        <ref name="element.Exercise"/>
        <ref name="element.Example"/>
        <ref name="element.Newline"/>
        <ref name="element.DivList"/>
        <ref name="element.Media"/>
        <!-- TODO: Move FootnoteRefs to only be valid either in a Page or in <body> -->
        <ref name="element.FootnoteRefs"/>
      </choice>
    </element>
  </choice>
</define>


<define name="Inline.class" combine="choice">
  <choice>
    <element name="span">
      <choice>
        <ref name="element.Newline"/>
        <ref name="element.Space"/>
        <ref name="element.SpanList"/>
      </choice>
    </element>
    <element name="sup">
      <choice>
        <ref name="element.FootnoteNumber"/>
      </choice>
    </element>
  </choice>
</define>


<!-- The <nav> -->
<define name="nav">
  <element name="nav">
    <ref name="nav.attlist"/>
    <!-- TODO: only allow the restricted-subset <ol>, <li>, and <a> Tree which creates the ToC -->
    <!-- TODO: only allow it exactly once in the body -->
  </element>
</define>

<define name="nav.attlist">
  <attribute name="id">
    <value>toc</value>
  </attribute>
</define>

<define name="Block.class" combine="choice">
  <ref name="nav"/>
</define>



<!-- The <section> -->
<define name="section">
  <element name="section">
    <ref name="section.attlist"/>
    <ref name="Flow.model"/><!-- TODO: Should this be Block.model? -->
  </element>
</define>

<define name="section.attlist">
  <ref name="Common.attrib"/>
  <attribute name="data-depth">
    <ref name="Number.datatype"/>
  </attribute>
</define>

<define name="Block.class" combine="choice">
  <ref name="section"/>
</define>




<!-- The <figure> -->
<define name="figure">
  <element name="figure">
    <ref name="figure.attlist"/>
    <ref name="element.Note.OptionalTitle"/>
    <ref name="Flow.model"/><!-- TODO: Should this be Block.model? -->
  </element>
</define>

<define name="figure.attlist">
  <ref name="Common.attrib"/>
  <optional>
    <attribute name="data-label">
      <ref name="Text.datatype"/>
    </attribute>
  </optional>
</define>

<define name="Block.class" combine="choice">
  <ref name="figure"/>
</define>



<!-- The <figcaption> -->
<define name="figcaption">
  <element name="figcaption">
    <ref name="figcaption.attlist"/>
    <!-- Algebra and trigonometry has newlines in the figcaption for some reason -->
    <ref name="Flow.model"/>
  </element>
</define>

<define name="figcaption.attlist">
  <!-- <ref name="Common.attrib"/> -->
  <empty/>
</define>

<!-- TODO: Only allow this element inside a <figure> -->
<define name="Block.class" combine="choice">
  <ref name="figcaption"/>
</define>



<!-- <div data-type="page" id="2c962197-8004-45c5-8c65-0eb785cbe09b"> -->
<!-- <cnx-pi data-type="cnx.eoc">class="self-check-questions" title="Self-Check Questions"</cnx-pi> -->
<define name="cnx-pi">
  <element name="cnx-pi">
    <ref name="cnx-pi.attlist"/>
    <ref name="cnx-pi.datatype"/>
  </element>
</define>

<define name="cnx-pi.attlist">
  <attribute name="data-type">
    <choice>
      <value>cnx.eoc</value>
      <ref name="Text.datatype"/>
    </choice>
  </attribute>
</define>

<define name="cnx-pi.datatype">
  <text/>
</define>

<!-- TODO: Only allow this element inside a <figure> -->
<define name="Block.class" combine="choice">
  <ref name="cnx-pi"/>
</define>



</grammar>
